body {
    background-color: black;
    text-align: center;
    margin-top: 120px;
    font-family: "Lato", sans-serif;
    color: white;
}

div {
    font-size: 120px;
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    line-height: 180px;
    text-align: center;
    user-select: none;
}

div#n {
    width: 240px;
    background-color: #601172;
}

div#t {
    width: 240px;
    background-color: #406120;
}

div#t {
    width: 500px;
}