body {
    font-family: Arial, Helvetica, sans-serif;
}

.footnotes {
    font-size: 0.8em;
}

table {
    border-collapse: collapse;
}

table caption {
    margin: 4px;
    font-size: 1.25em;
    font-weight: bold;
}

th {
    background-color: #333333;
    color: #ffffff;
}

td, th {
    border: black solid 1px;
    padding: 5px;
    height: 20px;
    text-align: center;
    font-size: 1.2em;
}

td {
    font-family: "indie flower", cursive;
}